.table-logo {padding: 4px;border-radius: 3px; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.__code-label {display: inline;}
.__code-value {font-weight: bold; margin-left: 5px; background: #eee; padding: 3px 5px; display: inline-block; border-radius: 2px;}  
.__code-note {font-style: italic; margin-top: 5px; font-size: 13px; color: #333;}
.bonus-green {color: #66AD5B; font-weight: bolder;}
.table-rating {text-align: center;}
.table-bonus {border-bottom: 2px solid #F4F4F4; margin-bottom: 10px; padding-bottom: 10px;}
.article-data { 
    font-size: 13px;
    color: #333;
    line-height: 1.4; 
    padding: 10px 0;
}
.author-review__about {font-style: italic;}
.questions {margin-top: 20px;}
.questions__head { 
    background-color: #f9f9f9;
    padding: 10px;
} 
.questions__title {
    margin: 0;
    font-size: 18px;
    color: #333333;
}
.questions__desc {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
}
.questions__body {
    margin-top: 10px;
}
.questions__item {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.questions__item:last-child {
    border-bottom: none;
}
.questions__text {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}
.questions__author {
    display: flex;
    align-items: center;
}
.questions__author-img {
    margin-right: 10px;
}
.questions__author-div {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.questions__author-about {
    display: flex;
    flex-direction: column;
}
.questions__author-name {
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}
.questions__author-note {
    color: #777777;
    font-size: 12px;
}
.casino-newretroru {background-color: #132941;} 
.casino-friendscasinoru {background-color: #1d1630;}
.casino-flintcasinoru {background-color: #261C19;}
.casino-vegasgrandru {background-color: #181f35;}
.casino-1wincasinoru {background-color: #252d40;}
.casino-selectorcasinoru {background-color: #21242C}
.casino-surfcasinoru {background-color: #224F6B}
.casino-brillxcasinoru {background-color: #191919;}
.casino-volnacasinoru {background-color: #142831;}
.casino-legzocasinoru {background-color: #272A44}
.casino-sykaaaru {background-color: #36093f}
.casino-vavadaru {background-color: #242333}
.casino-gamaru {background-color: #1b2b38}
.casino-jvspinru {background-color: #0d0b44}
.casino-spinbetterru {background-color: #001841}
.casino-1xslotsru {background-color: #283033} 
.casino-stakeru {background-color: #1b2b38}
.casino-n1casinoru {background-color: #1a1a22}
.casino-casinoraru {background-color: #141720}
.casino-dripcasinoru {background-color: #022423}
.casino-stardacasinoru {background-color: #1d2029}
.casino-zoomaru {background-color: #272d42}
.casino-fizzslotsru {background-color: #42273d}
.casino-mostbetru {background-color: #0f204d}
.casino-apollospinru {background-color: #0d0740}
.casino-daddyru {background-color: #161622}
.casino-888dragonru {background-color: #8d0d13}
.casino-calibryru {background-color: #2a265e}
.casino-betunlimru {background-color: #2c2f30}
.casino-cafeinbetru {background-color: #03161c}
.casino-apexspinru {background-color: #071a23}
.casino-bcgameru {background-color: #0d3004}
.casino-fatpandaru {background-color: #2a1d49}
.casino-win777ru {background-color: #00276d}
.casino-voddsru {background-color: #2d363f}
.casino-everumru {background-color: #271d15}
.casino-vodkabetru {background-color: #0c131d}
.casino-kaktuzru {background-color: #161c24}
.casino-goldcasinoru {background: #1d1e22;}
.casino-lev {background: #1d2646;}
.casino-clubnikaru {background: #1d0c29;} 
.casino-eldorado {background: #1a160c;}
.casino-champion {background: #03c2f7;}
.casino-jozzcasinoru {background: #2f353d;}
.casino-playfortuna {background: #6d4506;}
.casino-catcasinoru {background: #444dd8;}
.casino-riobet {background: #000000;}
.casino-azino777 {background: #030000;}
.casino-casinox {background: #db6618;}
.casino-booicasino {background: #f3e740;}
.casino-joycasino {background: #363333;}
.casino-deluxecasino {background: #a92825;}
.casino-lotoru {background: #271a01;}
.casino-pokerdom {background: #181818;}
.casino-argocasino {background: #ba6d00;}
.casino-ivicasino {background: #4c2ff9;}
.casino-zigzag777 {background: #1e233c;}
.casino-egocasinoru {background: #ecd64e;}
.casino-explosinoru {background: #473182;}
.casino-solcasino {background: #34312f;}
.casino-roxcasino {background: #2c2c2c;}
.casino-freshcasino {background: #68852b;}
.casino-jetcasinoru {background: #3a4453;}
.casino-izzicasinoru {background: #874ed4;}
.casino-pinupcasino {background: #6b0000;}
.casino-superslots {background: #292847;}
.casino-vulkandeluxe {background: #222636;}
.casino-vulkanclub {background: #181b62;}
.casino-casinovulcan24 {background: #1b1f3d;}
.casino-maxbetslots {background: #2d0d0b;}
.casino-gmsdeluxe {background: #4143b6;}
.casino-million {background: #294419;}
.casino-jackpot {background: #2a000c;}
.casino-admiral777 {background: #0e0d20;} 
.casino-ramenbetru {background-color: #121524;}
.casino-kentru {background-color: #ff0068;}
.casino-r7casinoru {background-color: #010100;}
.casino-kometaru {background-color: #06051B;}
.casino-bollywoodru {background-color: #232110}
